.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
}

.product-card {
  width: 300px;
  border: 2px solid #b80e0e;
  border-radius: 15px;
  margin: 10px;
  padding: 15px;
  text-align: center;
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: all 0.3s ease;
  cursor: pointer;
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}
